/* Layout */
html,body{
	position:relative;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
.full-screen{
	position:fixed;
	top:0; right:0; bottom:0; left:0;
	/*background:rgb(255,255,250);*/
}
.full-screen-center{
	height:100%;
	width:800px;
	margin:auto;
}
.graph{
	width:100%;
	height:100%;
}

/* Override Bootstrap */
.panel-heading{
	background:white !important;
}

#comments{
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	color:#666;
}
	#comments .comment{
		margin:10px 0;
		padding:10px 0;
		border-bottom:1px solid #ddd;
	}