/* Layout */
html,body{
	position:relative;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
body{ background:rgb(253,253,253); }

.viz-container{
	position:relative;
}

.full-screen{
	position:fixed;
	top:0; right:0; bottom:0; left:0;
	/*background:rgb(255,255,250);*/
}
.full-screen-right{
	position:absolute;
	width:25%;
	left:75%;
	z-index:999;
}
.full-screen-left{
	width:75%;
	height:100%;
	position:relative;
}
	#sentiment-graph-container{
		width:100%;
		height:25%;
	}
	.legend{
		height:40px;
		position:absolute;
		top:25%;
		left:70px;
	}
	#entities-graph-container{
		width:100%;
		height:75%;
	}
		#sentiment-graph,
		#entities-graph{
			width:100%;
			height:100%;

		}


/* Override Bootstrap */

#comments{
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	background:white;
}
	#comments .comment{
		margin:10px 0;
		padding:10px 0;
		border-bottom:1px solid #ddd;
		color:#bbb;
	}
	#comments .comment:hover,
	#comments .comment-highlight{ 
		color:black; 
	}
		#comments .comment:hover .panel-title,
		#comments .comment-highlight .panel-title{ 
			text-decoration:underline;
		}
		.comment .panel-title{font-family:'MaisonNeueBold', sans-serif;}
		.comment .panel-body{font-family:'PublicoRoman', sans-serif;}

			.comment .panel-body .entity{
				background:rgb(245,245,245);
				font-family:'MaisonNeueBold', sans-serif;
			}

/*#entities-graph*/
#entities-graph{}
	#entities-graph .node{ cursor:pointer; }
	#entities-graph .node text{
		font-family:'PublicoRoman', sans-serif;
	}
	#entities-graph .node .target{fill-opacity:0;}
	#entities-graph .node:hover .target{fill-opacity:.05;}
	#entities-graph .node.selected .target{fill-opacity:.1;}
	#entities-graph .node .underline{stroke-width:2px;}
	#entities-graph .node:hover .underline{stroke-width:4px;}

.anno{font-family:'MaisonNeueBold', sans-serif;}

/*#sentiment-graph*/
#sentiment-graph{}
	#sentiment-graph .brush .selection{stroke:none; fill-opacity:.15;}

/*.legend */
.legend{
	border-bottom:1px solid #ddd;
	border-top:1px solid #ddd;
	color:#666;
	line-height:40px;
	font-family:MaisonNeueBook;
}

/* Fonts */
@font-face{
	font-family: PublicoBold;
	src:url('./fonts/PublicoText-Bold.otf');
}
@font-face{
	font-family: PublicoRoman;
	src:url('./fonts/PublicoText-Roman.otf');
}
@font-face{
	font-family: MaisonNeueBold;
	src:url('./fonts/MaisonNeueTRIAL-Bold.otf');
}
@font-face{
	font-family: MaisonNeueBook;
	src:url('./fonts/MaisonNeueTRIAL-Book.otf');
}